<ion-view  view-title="{{flower.name}}">

  <ion-content class="padding">
    <div class="list card">
       
          <div class="item-thumbnail-left ">
      <img ng-src="{{flower.face}}">
      Nom de la plante : {{flower.name}} <br/>
      Nom latin de la plante : {{flower.latinNameText}} 
    </div>

    </div>
    <div class="list card">
      <div class="item item-divider">

       Luminosité 

      </div>
      <div class="item item-body">
        <div>
          {{flower.lumInstruction}}
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Température</div>
      <div class="item item-body">
        <div>
          {{flower.tempInstruction}}
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Humidité</div>
      <div class="item item-body">
        <div>
           {{flower.humInstruction}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>