<ion-view view-title="Flow-air">

  <ion-content class="padding">

  <a href="#/tab/flowers">
  <button class="button button-full button-positive">
    Ajouter une plante
  </button>
  </a>

      <div class="list card ">
      <div class="item item-divider">

       Fleur de mon jardin

      </div>
      <ion-item class="item-remove-animate item-avatar item-icon-right " ng-repeat="dash in dashs" type="item-text-wrap" href="#/tab/dash/{{dash.id}}">
        <img ng-src="{{dash.face}}">
        <a href="#/tab/dash/{{dash.id}}" style="float:right;">
          <button class="button">
            <i class="icon ion-close-round"></i>
          </button>
        </a>
        <a href="#/tab/flowers" style="float:right;">
          <button class="button" style="float:right;">
            <i class="icon ion-refresh"></i>
          </button>
        </a>
        
        <h2>{{dash.name}}</h2>
        <p>{{dash.latinNameText}}</p>
        
        
       
      </ion-item>
    </div>



  </ion-content>